* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: #333;
	flex-direction: column;
}

h2 {
	margin-bottom: 2em;
	color: #fff;
	text-align: center;
	font-weight: lighter;
	text-transform: uppercase;
}
.buttons {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3em;
}
.buttons-group {
	margin: 0 3em;
}
.btn {
	padding: 1em 2em;
	margin: 0 1em;
	text-transform: uppercase;
	border: 1px solid #fff;
	color: #fff;
	background: none;
	border-radius: 6px;
	transition: color 0.3s background-color 0.3s;
	cursor: pointer;
}
.btn:hover {
	color: #000;
	background-color: #fff;
}
.slider-box {
	margin-bottom: 2em;
	color: #fff;
	font-size: 18px;
}
#slider {
	margin-bottom: 0.5em;
	width: 400px;
}
.box {
	display: flex;
	flex-wrap: wrap;
	width: 1000px;
}
.square {
	margin: 3px;
	height: 32px;
	width: 32px;
	border: 1px solid black;
	border-radius: 6px;
	transition-property: background-color;
	transition-duration: 3s;
	background-color: transparent;
}
.square:hover {
	transition-duration: 0s !important;
}
